In [43]:
#import necessary Libraries
import pandas as pd 
import numpy as np
import sqlite3
#sadsd=pd.read_csv('Data/bom.movie_gross.csv')
#load data set
conn = sqlite3.connect('Data/im.db')
df=pd.read_sql('Select * from movie_basics', conn)
df
#genre_counts=pd.read_sql('Select Count (*) ,genres from movie_basics  Group By genres  Order By Count(genres) Limit 30; ', conn)
genre_table=pd.read_sql('Select genres,movie_id from movie_basics', conn)
genre_table['genres'] = genre_table['genres'].fillna(value='None')
g=[]
j=[]
count=0
for i in genre_table['genres']:
    j=i.split(',')
    g.append(j)
genre_table['genres']=g
ids = []
genre = []
vote_averages = []
temp = {'movie_ids': ids, 'genres': genre}

for index, row in genre_table.iterrows():
    for gen in row[0]:
        ids.append(row[1])
        genre.append(genre)
        

genres_frame = pd.DataFrame(popularity_by_genre)
genres_frame
#genres=['Documentary', 'Drama,Comedy','Horror','Thriller','Action','Bigoraphy','Romance' ,'Music','History','Family','Sport','Animation','Crime','Scifi','War']
#genre
#Documentary, Drama,Comedy,Horror,Thriller,Action,Bigoraphy,Romance ,Music,History,Family,Sport,Animation,Crime,Scifi

        movie_ids       genres
0       tt0063540       Action
1       tt0063540        Crime
2       tt0063540        Drama
3       tt0066787    Biography
4       tt0066787        Drama
...           ...          ...
234953  tt9916538        Drama
234954  tt9916622  Documentary
234955  tt9916706       Comedy
234956  tt9916730         None
234957  tt9916754  Documentary

[234958 rows x 2 columns]

In [ ]:
#check to see what values are null
df.isna().any()
len(df[df.runtime_minutes.isna()])/ len(df)
#20% of movies do not have runtime listed

In [ ]:
#transform minutes into hours and minutes
#replace na values with average movie length
z=df['runtime_minutes'].mean()
df['runtime_minutes'] = df['runtime_minutes'].fillna(value=0)
df['hours']= df['runtime_minutes']/60
df['minutes']=df['runtime_minutes'] %60
df['minutes']=df['minutes'].round

In [ ]:
#other option is drop it
df.dropna(subset=['runtime_minutes'],inplace=True)

In [ ]:
#replace original titles that are na with primary title
df['original_title'] = df['original_title'].fillna(value=df['primary_title'])

In [ ]:
#replace na genres with none

In [ ]:
#check to see values are okay
df["genres"].value_counts()
df["original_title"].value_counts()
df["primary_title"].value_counts()
df["runtime_minutes"].value_counts()

In [ ]:
movie_akas=pd.read_sql('Select * from movie_akas', conn)
movie_akas

In [ ]:
movie_akas["attributes"].value_counts()

In [ ]:
movie_akas.isna().any()

In [ ]:
len(movie_akas[movie_akas.language.isna()])/ len(movie_akas)

In [ ]:
len(movie_akas[movie_akas.region.isna()])/ len(movie_akas)

In [ ]:
movie_akas['language'] = movie_akas['language'].fillna(value=movie_akas['region'])

In [ ]:
pd.read_sql('Select Count(*)  from movie_basics', conn)

In [ ]:
#Anything below This is stuff that we probably will not use more exploratory purposes

In [ ]:
#replace none with average
pd.read_sql('Select AVG(runtime_minutes)  from movie_basics', conn)

In [ ]:
pd.read_sql('Select * from movie_ratings', conn)

In [ ]:
pd.read_sql('Select Count(*)  from movie_ratings', conn)

In [ ]:
pd.read_sql('Select Count(*)  from movie_ratings Where numvotes<6', conn)

In [ ]:
pd.read_sql('Select Count(*)  from movie_ratings Where numvotes<7', conn)

In [ ]:
pd.read_sql('Select AVG(numvotes)  from movie_ratings ', conn)

In [ ]:
pd.read_sql('Select Count(*)  from movie_ratings Where numvotes<1000', conn)

In [ ]:
pd.read_sql('Select * from principals', conn)

In [ ]:
conn.close()